input{
    margin-left: 9px;
    padding-left: 155px;
    border-radius: 0;
}

.w3-padding-large{
    padding:5px 24px !important;
    margin-left: 10px;
    margin-bottom: 4px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }