
<p class="texto">Registro</p>
<div class="Registro">
<form>

  <span class="fontawesome-user"></span><input type="text" required placeholder="User" autocomplete="off">
  <span class="fontawesome-envelope-alt"></span><input type="text" id="email" required placeholder="Email" autocomplete="off">
  <span class="fontawesome-lock"></span><input type="password" name="password" id="password" required placeholder="Password" autocomplete="off">
      <input type="submit" value="Register" title="Register">

</form>
