<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey" >

<div id="page-container"> 

  <header class="w3-container w3-center" style="padding: 0.01em 53px;">
      <div class="banner">
        <div class="banner-txt">
          <h1><b>QUEEN'S GAMBIT</b></h1>
          <p>O Queen's Gambit trabalha para que você nunca fique sem o Player 2</p>
        </div>
      </div>
  </header>

  <div class="Login" id="content-warp"> 
    <form (ngSubmit)="onSubmit()" #form="ngForm">
    
      <span class="fontawesome-user"></span><input type="text" placeholder="Usuario" autocomplete="off" name="login" [(ngModel)]="login.login" required >
      <span class="fontawesome-lock"></span><input type="password" name="password" id="password" placeholder="Senha" autocomplete="off" [(ngModel)]="login.password" required>
          <input type="submit" value="Entrar" title="entrar" [disabled]="form.form.invalid">
      
      <nav>
          <button class="w3-button w3-black w3-padding-large w3-center" (click)="goToCreateAcc()">Criar conta</button>
      </nav>
    
    </form>



  </div>
  <!-- Footer -->
  <footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top" id = "footer"> 
  <p>Desenvolvido para Engenharia de Software <a href="https://github.com/arthurfortini/eng_soft_tp/" target="_blank">GitHub</a></p>
  </footer>
</div>
</body>
</html>
